.begin {
  .outline;
  margin: 0 auto;
  width: 1350px;
  min-height: 628px;
}

.begin__list {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  list-style: none;
}

.begin__heading {
  margin: 0;
  text-align: center;
  font-size: 42px;
  font-weight: normal;
  line-height: 47px;
  color: @red;
}

.begin__name {
  color: @white;
  font-size: 42px;
  font-weight: normal;
  line-height: 47px;
  text-align: center;
}
