.begin__list {
  background-color: gray;
  list-style: none;
}

.begin__heading {
  text-align: center;
  font-size: 42px;
  font-weight: normal;
  line-height: 47px;
  color: @red;
}

.begin__name {
  color: @white;
  font-size: 42px;
  font-weight: normal;
  line-height: 47px;
  text-align: center;
}
