.button {
  box-sizing: border-box;

  display: inline-block;

  margin-top: 2px;
  padding-right: 33px;
  padding-left: 33px;
  padding-top: 12px;
  padding-bottom: 11px;

  color: @white;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 19px;

  border: 2px solid @white;
}

.button:hover {
  color: @red;

  background: @white;
}

@media (max-width: 767px) {
  .button {
    display: block;

    padding-top: 9px;
    padding-bottom: 9px;

    width: 150px;

    font-size: 14px;
    line-height: 16px;
  }
}
