.consult {
  .outline(green);
  background-color: @red;
  color: @white;
  .outline();
  margin: 0 auto;
  width: 1350px;
  min-height: 520px;
}

.consult__heading {
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-size: 42px;
  line-height: 47px;
}

.consult__input {
  font-family: "FuturaBookC", sans-serif;;
  font-size: 26px;
  line-height: 29px;
  color: @black;
}

.consult__submit {
  opacity: 1;
  background-color: @red;
}

.consult__text {
  color: @white;
  text-decoration: underline;
  font-size: 26px;
  line-height: 29px;
}
