.contacts {
  padding: 0;
  margin-top: 11px;
  margin-right: 30px;
  width: 300px;
  //.outline(blue);
}



.contacts__heading {
  font-family: "FuturaMediumC", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  color: @white;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 4px;
}

.contacts__text {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: -0.2px;
}

.contacts__text a {
  font-size: inherit;
  color: white;
  text-decoration: underline;
}

.contacts__text a:hover {
  text-decoration: underline;
}

.contacts__text a:active {
  text-decoration: underline;
  opacity: 0.7;
}

.contacts__text--metro::before {
  position: relative;
  display: inline-block;
  content: '';
  background: url("../../img/metro-icon.svg") 0 0 no-repeat;

  width: 22px;
  height: 15px;
}

@media (max-width: 1023px) {
  .contacts {
    margin-right: 0;
    width: 200px;
  }
}

@media (max-width: 768px) {
  .contacts {
    display: table;
    //.outline;
    width: 280px;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin: 0 auto;
  }

  .contacts__item {
    display: table-row;

  }

  .contacts__heading {
    display: table-cell;
    //.outline(green);
    height: 20px;
    width: 80px;
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 50px;
  }

  .contacts__text {
    display: table-cell;
    //.outline(purple);
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    width: 170px;
  }

}
