.contacts {
  padding: 0;
  margin-top: 11px;
  margin-left: 170px;
  width: 300px;
  //.outline;
}


.contacts__heading {
  font-family: "FuturaMediumC", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  color: @white;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 4px;
}

.contacts__text {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: -0.2px;
}

.contacts__text a {
  font-size: inherit;
  color: white;
  text-decoration: underline;
}
