.how-to {
  .outline(green);
  margin: 0 auto;
  width: 1350px;
  min-height: 472px;
  font-size: 26px;
  line-height: 29px;
}

.how-to__heading {
  margin: 0;
  font-weight: normal;
  font-size: 26px;
  line-height: 29px;
}
