.how-to {
  box-sizing: border-box;
  //.outline(green);
  margin: 0 auto;
  width: 1350px;
  min-height: 472px;
  font-size: 26px;
  line-height: 29px;
  padding-left: 90px;
  padding-top: 54px;
}

.how-to__heading {
  margin: 0;
  font-weight: normal;
  font-size: 26px;
  line-height: 29px;
}

.how-to__list {
  margin-top: 30px;
  padding-left: 25px;
  padding-right: 105px;
}

.how-to__text {
  margin-top: 32px;
  padding-right: 150px;
}
