.how-to {
  box-sizing: border-box;
  .outline(blue);
  margin: 0 auto;
  width: 100%;
  font-size: 26px;
  line-height: 29px;
  padding-left: 6.7vw;
  padding-top: 54px;
  padding-bottom: 40px;
}

.how-to__heading {
  margin: 0;
  font-weight: normal;
  font-size: 26px;
  line-height: 29px;
}

.how-to__list {
  margin-top: 30px;
  padding-left: 25px;
  padding-right: 105px;
}

.how-to__text {
  margin-top: 32px;
  padding-right: 150px;
}

@media (max-width: 1349px) {
  .how-to,
  .how-to__heading {
    font-size: 23px;
    line-height: 26px;
  }
}

@media (max-width: 1023px) {
  .how-to {
    padding-left: 30px;
  }

  .how-to__list {
    padding-right: 45px;
  }

  .how-to,
  .how-to__heading {
    font-size: 20px;
    line-height: 23px;
  }

  .how-to__text {
    padding-right: 45px;
  }
};
