.improve__list {
  list-style: none;
}

.improve__heading {
  text-align: center;
  font-weight: normal;
  font-size: 42px;
  line-height: 47px;
  color: @red;
}

.improve__type {
  text-align: center;
  font-weight: normal;
  font-size: 31px;
  line-height: 35px;
  color: @red;
}

.improve__text {
  font-size: 26px;
  line-height: 29px;
  text-align: center;
  color: @black;
}
