.index-video {
  margin: 0 auto;
  width: 100%;
  min-height: 460px;
  //.outline(purple);

  background: url("../img/bg-section2.svg") center top no-repeat;
  text-align: center;
  padding-top: 95px;
}

.index-video iframe {
  width: 55vw;
  height: 31vw;
}
