.lessons {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 29px;
  //.outline;
  margin: 0 auto;
  width: 1350px;
  min-height: 448px;
}

.lessons__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  //.outline(purple);
  min-height: 386px;
  padding-left: 73px;
  padding-right: 75px;
  padding-top: 37px;
}

.lessons__container img {
  flex-shrink: 0;
}

.lessons__container:nth-child(2) {
  background-color: @gray;
  flex-direction: row-reverse;
}
.lessons__price-heading {
  font-weight: normal;
  font-size: 26px;
  line-height: 29px;
}

.lessons__prices {
  //.outline(orange);
  min-height: 140px;
  text-align: center;
  padding-top: 33px;
}

.lessons__price-heading {
  margin: 0;
}

.lessons__text {
  margin: 0;
  width: 636px;
}

.lessons__list {
  .list-reset;
  width: 636px;
  margin-top: 20px;
  padding-top: 16px;
}

.lessons__item {
  margin-left: 23px;
}


.lessons__price-heading {
  margin: 0;
}

.lessons__price-detailed {
  margin: 0;
}
