.lessons {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 29px;
  //.outline;
  width: 100%;
  min-height: 448px;
}


.lessons__container {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  //.outline(purple);
  padding-top: 37px;
  width: 89%;
  max-width: 1500px;
  margin: 0 auto;
}

.lessons__container img {
  flex-shrink: 0;
  width: 43.3%;
}

.lessons__container--vertical img {
  width: auto;
  height: 32vw;
}


.lessons__block:nth-child(n) p,
.lessons__block:nth-child(n) ol,
.lessons__block:nth-child(n) ul {
  margin-left: 45px;
}


.lessons__block:nth-child(2n) p {
  margin-left: 0;
  margin-right: 45px;
}

.lessons__block:nth-child(2n) {
  background-color: @gray-light;
  flex-direction: row-reverse;
}

.lessons__block:nth-child(2n) .lessons__container {
  flex-direction: row-reverse;
}

.lessons__container strong {
  font-weight: normal;
  color: @red;
}

.lessons__price-heading {
  font-weight: normal;
  font-size: 26px;
  line-height: 29px;
}

.lessons__prices {
  //.outline(orange);
  min-height: 140px;
  text-align: center;
  padding-top: 33px;
}

.lessons__price-heading {
  margin: 0;
}

.lessons__text {
  //.outline(blue);
  margin: 0;
  width: 100%;
}

.lessons__text p {
  margin: 0;
  margin-bottom: 20px;
}

.lessons__list {
  box-sizing: border-box;
  .list-reset;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.lessons__item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-left: 23px;
  margin-bottom: 10px;
  width: 86%;
}


.lessons__price-heading {
  margin: 0;
}

.lessons__price-detailed {
  margin: 0;
}

.lessons__price-heading {
  font-size: 32px;
  line-height: 36px;
  color: @red;
  margin-bottom: 10px;
}


@media (max-width: 1349px) {
  .lessons__container {
    width: 95%;
  }
  .lessons__list {
    width: 93%;
    //.outline(tomato);
  }

  .lessons__text,
  .lessons__item {
    .p-mid-desktop;

  }

  .lessons__item {
    width: 93%;
    //.outline(green);
  }

  .lessons__container img {
    flex-shrink: 0;
    width: 48.3%;
  }

  .lessons__container--vertical img {
    width: auto;
    height: 42vw;
  }

  // .lessons__text
}

@media (max-width: 1023px) {
  .lessons__container {
    width: 100%;
  }

  .lessons__text,
  .lessons__item {
    .p-tablet;
  }

  .lessons__text p {
    margin-bottom: 10px;
  }

  .lessons__container:nth-child(n) p,
  .lessons__container:nth-child(n) ol,
  .lessons__container:nth-child(n) ul {
  margin-left: 25px;
}


.lessons__container:nth-child(2n) p {
  margin-right: 25px;
}

.lessons__list {
  width: 89%;
  //.outline(tomato);
}
}

@media (max-width: 767px) {
  .lessons__container {
    display: block;
    padding-top: 0;
  }

  .lessons__block--vocal:nth-child(1) {
    background: url("../../img/bg-vocal-musical-notes.svg") right 110% no-repeat;
  }

  .lessons__block--vocal:nth-child(2) {
    background: url("../../img/bg-vocal-synthetiser.svg") right 90% no-repeat,
                linear-gradient(to right, rgb(242, 242, 242), rgb(242,242,242));
  }

  .lessons__block--vocal:nth-child(3) {
    background: url("../../img/bg-vocal-tam-tam.svg") right 50% no-repeat,
                url("../../img/bg-vocal-triangle.svg") left 90% no-repeat,
  }

  .lessons__block--guitar:nth-child(1) {
    background: url("../../img/bg-guitar-guitar.svg") right 80% no-repeat;
  }

  .lessons__block--guitar:nth-child(2) {
    background: url("../../img/bg-guitar-dual-guitar.svg") right 80% no-repeat,
                linear-gradient(to right, rgb(242, 242, 242), rgb(242,242,242));
  }

  .lessons__block--guitar:nth-child(3) {
    background: url("../../img/bg-guitar-pedal-for-guitar.svg") left 70% no-repeat,
                url("../../img/bg-guitar-electric-guitar.svg") right 92% no-repeat,
  }

  .lessons__container img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .lessons__block:nth-child(n) p,
  .lessons__block:nth-child(n) ol,
  .lessons__block:nth-child(n) ul {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .lessons__text,
  .lessons__item {
    .p-mobile;
  }

  .lessons__block:nth-child(2n) p:last-child {
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  .lessons__list {
    width: 100%;
  }

  .lessons__price-heading {
    .h2-mobile;
    color: @red;
    margin-bottom: 10px;
  }

  .lessons__price-detailed {
    margin: 0 auto;
    width: 70vw;
  }

  .lessons__prices {
    .p-mobile;
    //.outline;
  }

  .lessons__container--vertical img {
    display: block;
    width: 280px;
    max-width: auto;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
  }

}
