.main-nav__list,
.main-nav__submenu-list {
  list-style: none;
}

.main-nav__item a{
  font-size: @menu-font-size;
  text-transform: uppercase;
  color: @black;
}

.main-nav__submenu-list {
  display: none;
  background-color: @red;
}

.main-nav__submenu-item a {
  color: white;
}

.main-nav__item a:hover {
  color: @red;
}

.main-nav__submenu-item a:hover {
  color: white;
}

.main-nav__submenu:hover ul{
  display: block;
}
