.main-nav {
  margin-right: 108px;
}
.main-nav__list,
.main-nav__submenu-list {
  list-style: none;
}

.main-nav__item--active a {
  box-sizing: border-box;
  border-bottom: 2px solid @red;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;

  margin-top: 108px;
  padding: 0;
  //.outline(green);
  width: 438px;
}
.main-nav__button {
  display: none;
}

.main-nav__item a{
  font-size: @menu-font-size;
  text-transform: uppercase;
  color: @black;
}

.main-nav__item--lessons {
  position: relative;
}
.main-nav__submenu-list {
  box-sizing: border-box;

  display: none;

  position: absolute;
  left: -9px;
  top: 20px;

  padding-left: 10px;
  padding-bottom: 3px;

  width: 155px;

  background-color: @red;
}

.main-nav__submenu-item {
  padding-top: 6px;
  padding-bottom: 3px;
}

.main-nav__submenu-item a {
  letter-spacing: -0.2px;
  color: white;
}

.main-nav__item a:hover {
  color: @red;
}

.main-nav__item a:active {
  color: @red-active;
}

.main-nav__submenu-item a:hover {
  color: white;
  text-decoration: underline;
}

.main-nav__submenu-item a:active {
  color: @black;
  text-decoration: underline;
}

.main-nav__submenu:hover ul{
  display: block;
}

@media (max-width: 1349px) {
  .main-nav {
    margin-right: 0;
  }

  .main-nav__list {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 310px;
    height: 50px;
  }

  .main-nav__item {
    margin-left: 20px;
  }

  .main-nav__item:nth-child(1),
  .main-nav__item:nth-child(2),
  .main-nav__item:nth-child(3) {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {

  .main-nav {
    width: 100%;
    .list-reset;
    box-sizing: border-box;
    z-index: 5;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  };

  .main-nav__list {
    box-sizing: border-box;

    top: 100px;
    height: auto;
    position: absolute;
    width: 100%;
    min-width: 320px;
    left: 0;
    //.outline(blue);
    display: block;
    .list-reset;
    background-color: white;
    padding-top: 20px;

    border-top: 2px solid rgb(243, 243, 243);
  }

  .main-nav__button {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 58px;

    border: 0;
    width: 28px;
    height: 16px;
    background: url("../img/header-button.svg") 0 0 no-repeat;
  }

  .main-nav--opened .main-nav__button {
    position: absolute;
    right: 20px;
    top: 58px;

    border: 0;
    width: 21px;
    height: 22px;
    background: url("../img/header-button-close.svg") 0 0 no-repeat;
  }

  .main-nav__item:nth-child(n) {
    margin: 0 auto;
    margin-bottom: 18px;
    //.outline(tomato);
    text-align: center;
  }

  .main-nav__item a,
  .main-nav__submenu a {
    font-size: 19px;
  }

  .main-nav__submenu-list {
    display: block;
    position: static;
    margin: 0;
    padding: 0;
    width: auto;
    background: none;
  }

  .main-nav__submenu a {
    display: none;
  }

  .main-nav__submenu-item {
    .list-reset;
    margin-bottom: 20px;
    //.outline(tomato);
  }

  .main-nav__submenu-item a {
    color: @black;
    display: block;

    &:hover {
      color: @red;
      text-decoration: none;
    }
  }
}
