.page-main__heading {
  box-sizing: border-box;
  padding-top: 70px;
//  margin: 0;
  font-size: 42px;
  line-height: 47px;
  font-style: normal;
  font-weight: normal;
  color: @red;
  //.outline(wheat);
  margin: 0 auto;
  letter-spacing: -0.2px;
  text-align: center;
}

.page-main__heading-container {
  margin: 0 auto;
  min-height: 125px;
  width: 100%;

  //.outline(green);
  background: url("../img/bg-main2.svg") center top no-repeat;
}

@media (max-width: 1023px) {
  .page-main__heading {
    font-size: 36px;
    line-height: 41px;
  }

  .page-main__heading-container {
    background-size: auto 28.5px;
  }
}

@media (max-width: 767px) {
  .page-main__heading {
    font-size: 26px;
    line-height: 29px;
    padding-top: 50px;
    max-width: 90%;
  }

  .page-main__heading-container {
    //.outline(green);
    min-height: auto;
    margin-bottom: 20px;
    background-size: auto 32px;
  }
}
