.page-contacts {
  .font-main;
  display: flex;
  align-items: flex-start;

  box-sizing: border-box;

  padding-left: 70px;
  padding-right: 70px;
  padding-top: 15px;

  margin: 0 auto;
  margin-bottom: 50px;

  width: 100%;
  max-width: 1650px;

  //.outline(green);
}

.page-contacts__text {
  box-sizing: border-box;

  padding-right: 70px;
  margin: 0;
  margin-bottom: 20px;
}

.page-contacts__links .page-contacts__text {
  margin-top: 31px;
  padding-right: 120px;
}

.page-contacts__text strong,
.page-contacts__text b {
  font-weight: normal;
  color: @red;
}

.page-contacts__text a {
  color: @black;
  text-decoration: underline;
}

.page-contacts__map {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  min-height: 613px;

  //.outline(purple);
}

.page-contacts__map iframe {
  width: 100%;
  display:block;
}

.page-contacts img {
  flex-shrink: 0;
  width: 50%;
  //max-width: 700px;
}

.page-contacts strong,
.page-contacts b {
  white-space: nowrap;
}

@media (max-width: 1349px) {
  .page-contacts {
    padding-left: 30px;
    padding-right: 30px;
  }
  .page-contacts__text {
    .p-mid-desktop;
    margin-bottom: 15px;
    padding-right: 50px;
  }

  .page-contacts__links .page-contacts__text {
    margin-top: 15px;
    padding-right: 50px;
  }
}

@media (max-width: 1023px) {
  .page-contacts {
    flex-direction: column;
    align-items: flex-start;

    box-sizing: border-box;

    padding-left: 70px;
    padding-right: 70px;
    padding-top: 15px;

    margin: 0 auto;
    margin-bottom: 50px;

    width: 100%;
    max-width: 1650px;

    //.outline(green);
  }

  .page-contacts {
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-contacts__text {
    .p-tablet;
    margin-bottom: 10px;
    padding: 0;
  }

  .page-contacts__links .page-contacts__text {
    margin-top: 10px;
    padding: 0;
  }

  .page-contacts img {
    margin: 0 auto;
    flex-shrink: 0;
    width: 100%;
    max-width: 700px;
  }
}

@media (max-width: 767px) {
  .page-contacts {
    flex-direction: column-reverse;
    padding: 0;
    margin-bottom: 10px;
  }

  .page-contacts__map iframe {
    width: 100%;
    display:block;
  }

  .page-contacts__container {
    //.outline(tomato);
    box-sizing: border-box;
    .list-reset;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5vw;

    background: url("../img/bg-contacts-piano-hihat.svg") 10px 30px no-repeat,
    url("../img/bg-contacts-piano-mobile.svg") right 250px no-repeat;
  }

  .page-contacts__about,
  .page-contacts__links {
    //.outline(blue);
    display: block;
    margin: 0 auto;
    max-width: 550px;
  }

  .page-contacts__text {
    //.outline(green);
    .p-mobile;
    text-align: left;
    margin-bottom: 20px;
  }

  .page-contacts img {
    max-width: 550px;
    margin-bottom: 10px;
  }

  .page-contacts__map {
    min-height: auto;
  }
}


