.page-main__heading {
  box-sizing: border-box;

  margin: 0 auto;
  padding-top: 70px;

  text-align: center;

  font-size: 42px;
  line-height: 47px;
  font-style: normal;
  font-weight: normal;
  color: @red;
  letter-spacing: -0.2px;
}

.page-main__heading-container {
  margin: 0 auto;

  min-height: 125px;
  width: 100%;

  background: url("../img/bg-main2.svg") center top no-repeat;
  background-repeat: repeat-x;
}

@media (max-width: 1023px) {
  .page-main__heading {
    font-size: 36px;
    line-height: 41px;
  }

  .page-main__heading-container {
    background-size: auto 42px;
  }
}

@media (max-width: 767px) {
  .page-main__heading {
    padding-top: 50px;

    max-width: 90%;

    font-size: 26px;
    line-height: 29px;
  }

  .page-main__heading-container {
    margin-bottom: 20px;

    min-height: auto;

    background-size: auto 32px;
  }
}
