.page-footer {
  box-sizing: border-box;

  margin: 0 auto;
  padding-top: 50px;

  width: 100%;
  min-height: 355px;

  background-color: @black;
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;

  width: 89%;
  max-width: 1500px;
}

.page-footer__social-list {
  display: flex;
  justify-content: space-between;

  margin-top: 35px;
  padding: 0;
}

.page-footer__social-item svg {
  fill: white;
}

.page-footer__social-item svg:hover {
  fill: grey;
}

.page-footer__container {
  margin-left: 80px;

  width: 200px;

  text-align: center;
}

@media (max-width: 1023px) {
  .page-footer__wrapper {
    width: 90%;
  }

  .page-footer__container {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .page-footer {
    position: relative;

    min-height: auto;
  }

  .page-footer__wrapper {
    flex-direction: column-reverse;

    padding-top: 50px;

    width: 100%;
  }

  .page-footer__container {
    margin: 0 auto;

    width: 150px;
  }

  .page-footer__container img {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;

    margin: 0 auto;

    width: 184px;
    height: 60px;
  }

  .page-footer__social-item svg {
    width: 25px;
    height: 25px;
  }

  .page-footer__social-list {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}
