.page-contacts {
  font-size: 26px;
  line-height: 29px;
}

.page-contacts__text strong,
.page-contacts__text b {
  font-weight: normal;
  color: @red;
}

.page-contacts__text a {
  color: @black;
  text-decoration: underline;
}
