.page-header {
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 220px;
  width: 1350px;
  display: flex;
  .outline(wheat);
  justify-content: space-between;
  padding-right: 78px;
  padding-left: 52px;
}

.page-header__social-list {
  display: flex;
  justify-content: space-between;

  margin-top: 98px;
  padding-left: 0;

  min-width: 202px;

  list-style: none;
}
