.page-footer {
  box-sizing: border-box;
  background-color: @black;
  //.outline();
  margin: 0 auto;
  width: 100%;
  min-height: 355px;

  padding-top: 50px;
}

.page-footer__wrapper {
  //.outline(red);
  display: flex;
  justify-content: space-between;
  width: 89%;
  max-width: 1500px;
  margin: 0 auto;
}

.page-footer__social-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  //.outline;
}

.page-footer__social-item svg {
  fill: white;
}

.page-footer__social-item svg:hover {
  fill: grey;
}

.page-footer__container {
  text-align: center;
  //.outline(yellow);
  width: 200px;
  margin-left: 80px;
}

@media (max-width: 1023px) {
  .page-footer__wrapper {
    width: 90%;
  }

  .page-footer__container {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .page-footer__wrapper {
    width: 100%;
  }
}
