.page-header {
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 220px;
  width: 1350px;
  display: flex;
  //.outline(wheat);
  padding-left: 54px;
}

.page-header__social-list {
  display: flex;
  justify-content: space-between;

  margin-top: 99px;
  margin-left: 319px;
  padding-left: 0;

  min-width: 203px;
  //.outline(magenta);
  list-style: none;
}

.page-header__logo {
  padding-top: 28px;
  //.outline(purple);
}
