.page-footer {
  background-color: @black;
  .outline();
  margin: 0 auto;
  width: 1350px;
  min-height: 405px;
  display: flex;
  justify-content: space-between;
}


.page-footer__social-list img {
  .outline(green);
}
