.people {
  .outline;
  margin: 0 auto;
  width: 1350px;
  min-height: 448px;
}

.people__list {
  margin: 0;
  list-style: none;
}

.people__item {
  font-size: 26px;
  line-height: 29px;
  text-align: center;
}

.people__item b {
  color: @red;
  font-weight: normal;
}
