.people {
  margin: 0 auto;
  width: 100%;

  padding-top: 85px;
  padding-bottom: 1vw;

  background: url("../img/bg-section2.svg") center top repeat-x;
}

.people__list {
  box-sizing: border-box;

  margin: 0 auto;
  padding: 0;

  width: 88vw;
  max-width: 1400px;

  column-count: 2;
  column-gap: 70px;

  list-style: none;
}

.people__item {
  margin-bottom: 31px;

  width: 100%;

  font-size: 26px;
  line-height: 29px;
  text-align: center;

  min-height: 70px;
}

.people__item b {
  color: @red;
  font-weight: normal;
}

@media (max-width: 1349px) {
  .people__item {
    font-size: 23px;
    line-height: 26px;

    min-height: 90px;
  }
}

@media (max-width: 1023px) {
  .people {
    background-size: auto 42px;
  }

  .people__item {
    font-size: 21px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .people {
    background-size: auto 32px;
    padding-top: 50px;
  }

  .people__list {
    padding-left: 20px;
    padding-right: 20px;

    width: 100%;
    max-width: 550px;

    column-count: 1;
    column-gap: 0;
  }

  .people__item {
    .p-mobile;

    margin-bottom: 20px;

    width: 100%;
    min-height: auto;
  }
}
