.photos {
  position: relative;
  //.outline(tomato);
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.photos__pagination {
  display: none;
}

.photos__heading {
  display: none;
}

.photos__carousel {
  display: flex;
}

.photos__carousel img {
  width: 100%;
  height: auto;
}

.photos__arrow::before {
  top: 0;
  position: absolute;
  content: '';
  width: 70px;
  height: 100%;
  z-index: 10;
}

.photos__arrow--left::before {
  left: 0;
  background: rgba(149, 156, 175, 0.281)
  url("../img/icon-arrow-left.svg") 100% 50% no-repeat;
}
.photos__arrow--right::before {
  right: 0;
  background: rgba(149, 156, 175, 0.589)
  url("../img/icon-arrow-right.svg") 0 50% no-repeat;
}

.photos__arrow--right:hover::before,
.photos__arrow--left:hover::before {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .photos__heading {
    .h2-mobile-big;
    width: 100%;
    color: @red;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
  }

  .photos__arrow {
    display: none;
  }

  .photos {
    width: 90%;
    margin-bottom: 20px;
  }

  .photos__carousel img {
    display: block;
    margin: 0 auto;
    width: 70vw;
    //height: 70vw;
  }

  .photos__carousel {
    margin-bottom: 30px;
  }

  .photos__pagination {
    display: block;
  }
}
