.photos {
  position: relative;
  //.outline(tomato);
  margin: 0 auto;
  width: 1350px;
  min-height: 252px;
  overflow: hidden;
}

.photos__carousel {
  display: flex;
}

.photos__carousel img {
  width: 100%;
  height: auto;
}

.photos__carousel div {
  flex-shrink: 0;
  width: 193px;
  height: 193px;
}

.photos__arrow::before {
  top: 0;
  position: absolute;
  content: '';
  width: 70px;
  height: 193px;
  z-index: 10;
}

.photos__arrow--left::before {
  left: 0;
  background: rgba(149, 156, 175, 0.281)
  url("../img/icon-arrow-left.svg") 100% 50% no-repeat;
}
.photos__arrow--right::before {
  right: 0;
  background: rgba(149, 156, 175, 0.589)
  url("../img/icon-arrow-right.svg") 0 50% no-repeat;
}

.photos__arrow--right:hover::before,
.photos__arrow--left:hover::before {
  opacity: 0.7;
}
