.teachers__list {
  list-style: none;
}

.teachers__heading {
  text-align: center;
  font-weight: normal;
  font-size: 42px;
  line-height: 47px;
  color: @red;
}

.teachers__name {
  font-size: 26px;
  font-weight: normal;
  line-height: 29px;
  text-align: center;
  color: @black;
}

.teachers__info {
  text-align: center;
  font-size: 21px;
  line-height: 24px;
  color: @black;
}
