.teacher {
  .outline(wheat);
  margin: 0 auto;
  width: 1350px;
  min-height: 603px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}



.teacher__name,
.teacher__title b {
  font-weight: normal;
  font-style: normal;
  font-size: 26px;
  line-height: 29px;
  color: @red;
}

.teacher__education,
.teacher__about {
  font-size: 21px;
  line-height: 24px;
}
