.teachers {
  //.outline(yellow);
  margin: 0 auto;
  width: 1350px;
  min-height: 495px;
  padding-top: 90px;
  letter-spacing: -0.2px;
  background: url("../../img/bg-section.svg") 4px 0 no-repeat;
}

.teachers__list {
  margin: 0 auto;
  width: 1050px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.teachers__heading {
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
  font-weight: normal;
  font-size: 42px;
  line-height: 47px;
  color: @red;
}

.teachers__name {
  .list-reset;
  margin-top: 3px;
  font-size: 26px;
  font-weight: normal;
  line-height: 29px;
  text-align: center;
  color: @black;
}
.teachers__item {
  //.outline;
}

.teachers__info {
  margin: 0 auto;
  text-align: center;
  font-size: 21px;
  line-height: 24px;
  color: @black;
  width: 200px;
  //.outline;
}
