.top-decorative {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 0px;
  width: 100%;
  min-height: 12vw;
  .outline(blue);
  background: url("../../img/bg-top.svg") 0 0 no-repeat;
  background-size: 100%;
}

