.video {

  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 29px;
  margin: 0 auto;
  width: 100%;
  //.outline(purple);
  //padding-top: 38px;
}

.video__description {
  box-sizing: border-box;
  //.outline(red);
  width: 88vw;
  max-width: 1650px;
  margin: 0 auto;
}

.video__text {
  margin: 0;
  margin-bottom: 30px;

}

.video__items {
  //.outline(blue);
  width: 88vw;
  max-width: 1650px;
  padding-top: 20px;
  margin: 0 auto;
}

.video__items iframe:nth-child(3n),
.video__items iframe:nth-child(3n - 1) {
  margin-left: 1.5vw;
}

.video__items iframe {
  margin-bottom: 45px;
  border: none;
}

.video__items iframe {
  width: 28vw;
  max-width: 700px;
  height: 17vw;

  @media (min-width: 1800px) {
    width: 500px;
    height: 320px;
  }
}

.video__show-more {
  display: none;
}

.video__text strong {
  font-weight: normal;
  color: @red;
}

@media (max-width: 1349px) {
  .video__description {
    .p-mid-desktop;
    padding: 0;
    width: 88.5vw;
  }
  .video__items {
    width: 88.5vw;
  }
}

@media (max-width: 1023px) {
  .video__description {
    .p-tablet;
    padding: 0;
    width: 89vw;
  }
  .video__items {
    width: 89vw;
  }
}

@media (max-width: 767px) {
  .video {
    padding-bottom: 20px;
  }

  .video__description {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    background: url("../img/bg-video-sax.svg") right 20% no-repeat;
  }
  .video__text {
    .p-mobile;
    margin-bottom: 20px;
  }
  .video__items {
    width: 100%;
  }

  .video__items iframe:nth-child(n) {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60vw;
  }

  .video__show-more {
    box-sizing: border-box;
    display: block;
    border: 1px solid @red;
    background-color: @white;
    color: @red;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;

  }
};
